// @use'./variables' as something (name it by yourself);

@use'./variables' as v;

h1 {
    font-size: 5em;
    color: v.$color;
}

p{
    text-transform: capitalize;
    font-size:20px;
    color:rgb(226, 208, 208);
}